* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#tela-1 {
  height: 100%;
  width: 100%;
  background-color: #1d4484;
  color: white;
}

#tela-2 {
  height: 100%;
  width: 100%;
  background-color: #043077;
  color: white;
}

#tela-3 {
  height: 100%;
  width: 100%;
  background-color: #032965;
  color: white;
}

#tela-4 {
  height: 100%;
  width: 100%;
  background-color: #032254;
  color: white;
}

#tela-5 {
  height: 100%;
  width: 100%;
  background-color: #021a41;
  color: white;
}

#tela-6 {
  height: 100%;
  width: 100%;
  background-color: #021330;
  color: white;
}

#tela-7 {
  height: 100%;
  width: 100%;
  background-color: #010c1e;
  color: white;
}

nav {
  background: rgba(0, 0, 0, 0.2);
  color: red;
}

.logo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-color-secundary {
  color: #008db1;
}

.text-color-secundary:hover {
  color: white;
}
