* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  color: #008db1;
}

p,
h3 {
  font-family: "Montserrat", sans-serif;
}

#tela-1,
#tela-2,
#tela-3,
#tela-4,
#tela-5,
#tela-6,
#tela-7 {
  color: white;
}

#tela-1 {
  height: 100%;
  width: 100%;
  background-color: #1d4484;
}

#tela-2 {
  background-color: #043077;
}

#tela-3 {
  background-color: #032965;
}

#tela-4 {
  background-color: #032254;
}

#tela-5 {
  background-color: #021a41;
}

#tela-6 {
  background-color: #021330;
}

#tela-7 {
  background-color: #010c1e;
}

nav {
  background: rgba(0, 0, 0, 0.2);
}

.logo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-color-secundary {
  color: #008db1;
}

.text-color-secundary:hover {
  color: white;
}

.col-celular {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 7%;
  padding-bottom: 7%;
}

.col-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
